<mat-card class="card">
    <mat-card-header>
        <mat-card-title> Tableau de suivi des réclamations
        </mat-card-title>
    </mat-card-header>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col"> Date</th>
                <th scope="col">Référence NC</th>
                <th scope="col">Détéctée par</th>
                <th scope="col">Client </th>
                <th scope="col">Commentaires </th>
                <th scope="col">Action immédiate </th>
                <th scope="col">Action d’amélioration </th>



            </tr>
            <!-- </thead>
                <tbody *ngFor="let ficheIntervention of ficheInterventions">
                    <td>{{ ficheIntervention.id}} </td>
                    <td> {{ ficheIntervention.actionsRealisees}} </td>
                    <td>{{ ficheIntervention.Constats }} </td>
                    <td>{{ ficheIntervention.DetailInvestigations}} </td>
                    <td>{{ ficheIntervention.CauseIncident }} </td>
                    <td>{{ ficheIntervention.ConsequencesIncident }} </td>
                    <td>{{ ficheIntervention.DureeIncident }} </td>
                    <td>{{ ficheIntervention.StatutResolution }} </td>
 -->

            <!-- 
                    </tbody>
            </table>
        </mat-card> -->


            <p>Hjkqwgbxchjkbwxk</p>