<mat-card class="card">
    <mat-card-header>
        <mat-card-title> Users List </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>

    <table class="table table-hover table-dark">
        <thead color="primery ">
            <tr>
                <th>PROG</th>
                <th>actionsRealisees</th>
                <th>Constats</th>
                <th>DetailInvestigations</th>
                <th>CauseIncident</th>
                <th>ConsequencesIncident</th>
                <th>DureeIncident</th>
                <th>StatutResolution</th>


            </tr>
        </thead>
        <tbody>
            <tr *ngFor=" let ficheIntervention of ficheInterventions ">
                <td>{{ficheIntervention.prog}}</td>
                <td>{{ficheIntervention.actionsRealisees }}</td>
                <td>{{ficheIntervention.constats}}</td>
                <td>{{ficheIntervention.detailInvestigations}}</td>
                <td>{{ficheIntervention.causeIncident}}</td>
                <td>{{ficheIntervention.consequencesIncident}}</td>
                <td>{{ficheIntervention.dureeIncident}}</td>
                <td>{{ficheIntervention.statutResolution}}</td>

    </table>


</mat-card>