<mat-card class="card">
    <mat-card-header>
        <mat-card-title> Users List </mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>

    <table class="table table-hover table-dark">
        <thead color="primery ">
            <tr>
                <th>PROG</th>
                <th>actionsRealisees</th>
                <th>Constats</th>
                <th>DetailInvestigations</th>
                <th>CauseIncident</th>
                <th>ConsequencesIncident</th>
                <th>DureeIncident</th>
                <th>StatutResolution</th>


            </tr>
        </thead>
        <tbody>
            <tr *ngFor=" let ficheIntervention of ficheInterventions ">
                <td>{{ficheIntervention.prog}}</td>
                <td>{{ficheIntervention.actionsRealisees }}</td>
                <td>{{ficheIntervention.constats}}</td>
                <td>{{ficheIntervention.detailInvestigations}}</td>
                <td>{{ficheIntervention.causeIncident}}</td>
                <td>{{ficheIntervention.consequencesIncident}}</td>
                <td>{{ficheIntervention.dureeIncident}}</td>
                <td>{{ficheIntervention.statutResolution}}</td>

    </table>


</mat-card>



<cdk-accordion class="example-accordion">
    <cdk-accordion-item *ngFor="let ficheIntervention of ficheInterventions; let index = index;" #accordionItem="cdkAccordionItem" class="example-accordion-item" role="button" tabindex="0" [attr.id]="'accordion-header-' + index" [attr.aria-expanded]="accordionItem.expanded"
        [attr.aria-controls]="'accordion-body-' + index">
        <div class="example-accordion-item-header" (click)="accordionItem.toggle()">
            {{ ficheIntervention.prog }}
            <span class="example-accordion-item-description">
        {{ accordionItem.expanded ? 'close' : 'mor' }}
      </span>
        </div>
        <div class="example-accordion-item-body" role="region" [style.display]="accordionItem.expanded ? '' : 'none'" [attr.id]="'accordion-body-' + index" [attr.aria-labelledby]="'accordion-header-' + index">
            <span><h4>PROG</h4></span>
            <p>{{ficheIntervention.prog}}</p>
            <span><h4>Constats</h4></span>
            <p>{{ficheIntervention.constats}}</p>
            <span><h4>actionsRealisees</h4></span>
            <p>{{ficheIntervention.actionsRealisees }}</p>
            <span><h4>detailInvestigations</h4></span>
            <p>{{ficheIntervention.constats}}</p>
            <span> <h4>causeIncident</h4></span>
            <p>{{ficheIntervention.causeIncident}}</p>
            <span> <h4> consequencesIncident</h4></span>
            <p>{{ficheIntervention.consequencesIncident}}</p>
            <span> <h4>dureeIncident</h4></span>
            <p>{{ficheIntervention.dureeIncident}}</p>
            <span> <h4>statutResolution</h4></span>
            <p>{{ficheIntervention.statutResolution}}</p>

        </div>
    </cdk-accordion-item>
</cdk-accordion>